@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'),  local('OpenSans-Light'), 
      url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'),  local('OpenSans-Regular'), 
      url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'),  local('OpenSans-SemiBold'), 
      url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}


* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

html{
    font-family: 'Open Sans', sans-serif;
}


.container{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn{
    background-color: #3172b9;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.btn.btn-big{
    padding: 20px 60px;
}

.text-center{
    text-align: center;
}

.section-heading{
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 300;
    color: #1c1c1c;
}

.section-discription{
    margin-top: 0;
    font-size: 16px;
    line-height: 1.31;
    color: #787878;
}
/* Header */

.header{
    height: 109px;
    border-bottom: 1px solid #e4e4e4;
}


.header-conainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nav-list{
    display: flex;
    margin: auto;
}

.nav-item{
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
}

.nav-item:not(:last-child){
    margin-right: 55px;
}

.nav-link{
    color: #1c1c1c;
}

.nav-link:hover{
    color: #3172b9;
}

/*
.nav-item.is-active .nav-link {
    color: #3172b9;
}
*/

.heafer-btn{
    margin-left: 40px;
}

/* Hero */
.section-hero{
    background: url('../img/Base.png') right center no-repeat white;
    background-size: contain;
}

.hero-container{
    padding-top: 120px;
    padding-bottom: 130px;
}

.hero-content{
    max-width: 45%;
}

.section-hero-heading{
    font-size: 40px;
    line-height: 52px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
    color: #1c1c1c;
}

.section-hero-discription{
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 25px;
    color: #787878;
}
.section-hero-action{
    display: inline-block;
}
.section-hero-btn-discription{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 11px;
    line-height: 1;
    color: #787878;
    text-transform: uppercase;
    text-align: center;
}
.section-hero-ssl-icon{
    display: inline-block;
    width: 15px;
    height: 17px;
    background-size: contain;
    background: url(../img/Shield-icon.png) center center no-repeat transparent;
    margin-right: 10px;
    transform: translateY(-2px);
    
}

/* What We Do */

.section-do{
    padding-top: 140px;
    padding-bottom: 100px;
    border-bottom: 1px solid #e4e4e4;
}

.section-discription{
    margin-top: 25px;
}

.section-do-list{
    margin-top: 50px;
    display: flex;
}

.section-do-item{
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    align-items: center;
    padding: 60px 30px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

.section-do-item:not(:last-child){
    margin-right: 30px;
}

.section-do-item-heading{
    margin-bottom: 18px;
    margin-top: 38px;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    color: #1c1c1c;
}

.section-do-item-discription{
    margin-top: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #787878;
    text-align: center;
}

/* Our Happy clients */

.section-clients{
    padding-top: 90px;
    padding-bottom: 160px;
    border-bottom: 1px solid #e4e4e4;
}

.section-clients-heading{
    margin-bottom: 45px;
}

.section-clients-list{
    display: flex;
}

.section-clients-item{
    flex: 1 1 33,33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 35px 30px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

.section-clients-item:not(:last-child){
    margin-right: 30px;
}

.section-clients-testimonial{
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #787878;
}

.section-clients-user{
    display: flex;
    align-items: center;
    border-top: 1px solid #e9e9e9;
    padding-top: 28px;
}

.section-clients-avatar{
    width: 60px;
    height: 60px;
    border: 2px solid #5188c4;
    border-radius: 50%;
    margin-right: 15px;
}

.section-clients-username{
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #1c1c1c;
}

.section-clients-user-discription{
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #787878;
}

/* Contacts */

.section-contacts{
    padding-top: 85px;
    padding-bottom: 95px;
    border-bottom: 1px solid #e4e4e4;
}

.section-contacts-list{
    display: flex;
    margin-top: 43px;
}

.section-contacts-item{
    flex: 1 1 33.33%;
}

.section-contacts-info{
    max-width: 250px;
}

.section-contacts-icon{
    display: block;
    height: 26px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: auto 100%;
    background-color: transparent;
}

.section-contacts-icon-gps{
    background-image: url('../img/gps.png');
} 

.section-contacts-icon-phone{
    background-image: url('../img/phone.png');
} 

.section-contacts-icon-mail{
    background-image: url('../img/mail.png');
    background-size: auto 19px;
} 

.section-contacts-heading{
    display: block;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 1;
    color: #1c1c1c;
}

.section-contacts-info{
    font-size: 14px;
    line-height: 25px;
    color: #787878;
}

.section-contacts-link{
    color: #787878;
}

/* Form */

.section-form{
    padding-top: 112px;
    padding-bottom: 114px;
    border-bottom: 1px solid #e4e4e4;
}

.form-heading{
    text-align: center;
}

.form-discription{
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #787878;
}

.form{
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
    padding: 0 60px;
}

.input, .btn-submit{
    flex: 0 0 calc(25% - 15px);
    height: 60px;
    border-radius: 30px;
    border: 0;
}

.input{
    padding: 0 30px;
    border: 1px solid #dadada;
}

.input::placeholder{
    color: #787878;
}
/*Footer*/

.footer{
    height: 125px;
}

.footer-container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-left, 
.footer-rigth{
    display: flex;
    align-items: center;
}

.footer-nav{
    margin-right: 55px;
}

.footer-logo{
    margin-right: 25px;
}


.footer-copyright{
    font-size: 12px;
    line-height: 17px;
    color: #787878;
}

.footer-nav-list{
    display: flex;
}

.footer-nav-item{
    font-size: 14px;
    line-height: 1;
}

.footer-nav-link{
    color: #787878;
}

.footer-nav-item:not(:last-child){
    margin-right: 35px;
}

.footer-social-list{
    display: flex;
    align-items: center;
}

.footer-social-item:not(:last-child){
    margin-right: 30px;
}

.footer-social-icon{
    display: inline-block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: transparent;
}

.footer-social-icon-twitter{
    background-image: url(../img/Twitter.svg);
    width: 18px;
    height: 15px;
}

.footer-social-icon-in{
    background-image: url(../img/Linkedin.svg);
    width: 18px;
    height: 19px;
    transform: translateY(-1px);
}

.footer-social-icon-mail{
    background-image: url(../img/Email.svg);
    width: 24px;
    height: 17px;
}